* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-top: 3%;
}

section {
    padding: 5%;
}

section .body {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.h4 {
    position: absolute;
    width: 322px;
    height: 24px;
    left: 32px;
    top: 379px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */


    color: #000000;
}

section .body p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.025em;

}


footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    background: #022164;
    padding: 3%;
}

.socials .icons {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.socials .icons img {
    margin-right: 15px;

}

p a {
    font-weight: 600;
    text-decoration: none;
    color: #185AEE;
    cursor: pointer;
}

@media screen and (max-width:800px) {
    header .logo-1 {
        width: 80%;
    }

    section .header-text h1 {
        font-size: 16px;
    }

    section .body {
        margin-top: 2%;
    }

    section .body p {
        font-size: 12px;

    }

    .socials .icons img {
        width: 20px;
        height: 20px;

    }

    footer {
        font-size: 10px;
        padding: 5%;
    }
}